.profile__caption {
	margin: 0;
	max-width: 295px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@media screen and (max-width: 320px) {
	.profile__caption {
		font-size: 14px;
		grid-column: span 2;
		text-align: center;
	}
}