.form__close-button {
	position: absolute;
	padding: 0;
	border: none;
	right: -39px;
	top: -39px;
	width: 32px;
	height: 32px;
}

@media screen and (max-width: 320px) {
	.form__close-button {
		width: 20px;
		height: 20px;
		right: 0;
		top: -36px;
	}
}